<!--
################################################################
#                                                              #
#		ROS simmulation for Multi UAVs Olfaction                 #
#                           							                     #
################################################################
-->

<launch>
    <arg name="scenario" default="outdoor_mul" />
    <arg name="simulation" default="05ms" />
   <arg name="source_location_x" default="-15.0" />
    <arg name="source_location_y" default="0.00" />
    <arg name="source_location_z" default="3.50" />
   <arg name="GasType" default="0" />
   <arg name="FixedFrame" default="/map" />
        ### ROBOT SIMULATION ###
    <param name="use_sim_time" value="true" />

   <include file="$(find gazebo_ros)/launch/empty_world.launch"> 



<arg name="world_name" value="/home/lisa/Gazebo_Gaden/src/controller/worlds/outdoor.world"/> 


 <include file="/home/lisa/Gazebo_Gaden/src/sim_env/outdoor_mul/launch/spawn_four_quadrotors.launch"/>

# ===================== GADEN =====================================

    ### NODE environment (for RVIZ visualization) ###
    <node pkg="gaden_environment" type="environment" name="environment" output="screen">
        <param name="verbose" value="false"/>
        <param name="wait_preprocessing" value="false"/>    	  
        <param name="fixed_frame" value="map"/>

        # Plot CAD models (Collada format .dae)
        <param name="number_of_CAD" value="5"/>
        <rosparam subst_value="True">
            CAD_0: package://test_env/$(arg scenario)/cad_models/building1.dae
            CAD_0_color: [0.32, 0.36, 0.36]
            CAD_1: package://test_env/$(arg scenario)/cad_models/building2.dae
            CAD_1_color: [0.32, 0.36, 0.36]
            CAD_2: package://test_env/$(arg scenario)/cad_models/building3.dae
            CAD_2_color: [0.32, 0.36, 0.36]
            CAD_3: package://test_env/$(arg scenario)/cad_models/building4.dae
            CAD_3_color: [0.32, 0.36, 0.36]
            CAD_4: package://test_env/$(arg scenario)/cad_models/building5.dae
            CAD_4_color: [0.32, 0.36, 0.36]
        </rosparam>
	            
        # Plot 3D OccupancyGridmap
      <param name="occupancy3D_data" value="$(find sim_env)/$(arg scenario)/OccupancyGrid3D.csv" />

        # Plot gas sources
        <param name="number_of_sources" value="1"/>
        <param name="source_0_position_x" value="$(arg source_location_x)"/>
        <param name="source_0_position_y" value="$(arg source_location_y)"/>
        <param name="source_0_position_z" value="$(arg source_location_z)"/>
        <rosparam>
            source_0_scale: 0.2
            source_0_color: [0.0, 1.0, 0.0] 
        </rosparam>
    </node>
          
    
    ### NODE PLAYER ###
    #-------------------
 
    ### NODE PLAYER ###
    #-------------------
    <node pkg="gaden_player" type="gaden_player" name="gaden_player" output="screen">
        <param name="verbose" value="false" />
	    <param name="player_freq" value="2" />         ###(Hz) Freq for loading the simulation log_files
	    <param name="initial_iteration" value="0" />
	    <param name="num_simulators" value="1" />      ### Number of simulations to load [1-inf] (useful for multiple sources and gases)
    
        # Data from the "filament_simulator" pkg. Multiple sources can be set here
     
        <param name="simulation_data_0" value="$(find sim_env)/$(arg scenario)/gas_simulations/05ms/FilamentSimulation_gasType_0_sourcePosition_-15.00_0.00_3.50" /> 

    <param name="occupancyFile" value="$(find sim_env)/$(arg scenario)/OccupancyGrid3D.csv" />


        # Loop options        
        <param name="allow_looping" value="true" />
        <param name="loop_from_iteration" value="15" />
        <param name="loop_to_iteration" value="40" />
        
    </node>



      <node name="map_server" pkg="map_server" type="map_server" args="$(find sim_env)/$(arg scenario)/occupancy.yaml">
     <!-- <param name="frame_id" value="map"/> -->
    </node>

    <node name="rviz_player" pkg="rviz" type="rviz" args="-d $(find sim_env)/$(arg scenario)/launch/ros/gaden.rviz"/>


</launch>
