<?xml version="1.0"?>
<model>
  <name>outdoor</name>
  <version>1.0</version>
  <sdf version="1.5"> outdoor_space.sdf</sdf>
  <author>
    <name>Mehjabeen</name>
    <email>mehjabeen@tju.edu.cn</email>
  </author>

   <description>
   the outdoor staff generated in onshape
   </description>

</model>
